<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
<head>
    <title>Events App</title>
</head>
<body>
    <h1>Add an Event</h1>
    <form method="POST">
        Event name: <input type="text" value="" name="name"/>
        Event local: <input type="text" value="" name="local"/>
        Event date: <input type="date" value="" name="date"/>
        Event hour: <input type="text" value="" name="hour"/>

        <button type="submit">Add</button>
    </form>


</body>    

</html>